//
//  Config.xcconfig
//  UPlusNFT
//
//  Created by HappyDuck on 2023/08/11.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Common
UPLUS_NFT_CONTRACT_ADDRESS_VALUE = 0x87a636730415db341a3ad8a5cd29f398a797ed46

// Luniverse
X_NODE_ID_VALUE = 1691631530682617449
X_KEY_ID_VALUE = 5qainm3y2fssbf3j65rqentgrkpcrgfgxrb6s7aivmf3nwgbresw9v593gbhudwb
X_KEY_SECRET_VALUE = HLxGuKTrsbUr6cekwRYcZuiwxKcRej3Fn3GWkSXuLLGGhVEx2y36az9SN2TP8x79XKWYrb2nbEvQwThH94isfWg7bAg2sN3gCZ4LTEVdqZCJjKksacq4Tcbzx9urV3zV

// NFT Service
UPLUS_NFT_ACCESS_CODE = c2b79418-febc-4758-9172-b27a3b354705

// Slack Link
UPLUS_SLACK_URL = lgu-cto.slack.com/archives/C05Q42MDSSD

// Notice Link
UPLUS_NOTICE_URL = future-service-lab.notion.site/c14b249ad85f45799b44aadacf4c1d8e?pvs=4H

// FAQ Link
UPLUS_FAQ_URL = future-service-lab.notion.site/NFT-a8d78a697a2f44fe989aba307126672b?pvs=4
