<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769982477662-oe7u395t1vb7c38ci72lve7gvsor9444.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769982477662-oe7u395t1vb7c38ci72lve7gvsor9444</string>
	<key>API_KEY</key>
	<string>AIzaSyDIYp7oEyejcSglDepi1F6wESCeDG7lqfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>769982477662</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.platfarm.UPlusNFT</string>
	<key>PROJECT_ID</key>
	<string>test-lguplus-nft-platfarm</string>
	<key>STORAGE_BUCKET</key>
	<string>test-lguplus-nft-platfarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769982477662:ios:cd81daaa528bbbf3194bcf</string>
</dict>
</plist>